body {
  margin: 0;
  background-color: snow;
}

/* --------------------------------------------------------- Header Bar Styling */

.header-bar {
  width: 100%;
  background-color: rgb(243, 153, 34);
  position: fixed;
}

.header-content {
  margin-top: 4px;
  margin-bottom: 4px;
}

.header-nav-bar {
  margin-left: 16px;
}

.header-nav-button {

}

/* --------------------------------------------------------- Allignment Styling */
.wrap {
  display: flex;
  flex-wrap: wrap;
}

.center-h {
  display: flex;
  justify-content: center;
}

.center-v {
  display: flex;
  align-items: center;
}

.center {
  justify-content: center;
  align-items: center;
}

.column {
  width: 80%;
}

/* --------------------------------------------------------- Text Styling */
.main-font {
  font-family: 'Days One', sans-serif;
}

.light {
  color: snow;
}

.medium-size {
  font-size: 24px;
}
}
